body {
    background:url("/Users/jonathancasson/Documents/WDI_Fundamentals/Projects/project0/img/background-wallpaper-test.jpg") no-repeat fixed center;
}
#mydiv {
    width: 40%;
    height: 97%;
    position: absolute;
    z-index: 9;
}
#bg{
  height:486px;
}
#mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
}
}
.buttons{
  margin-top: 30px;
  text-align: center;
  transform: rotate(-10deg);
}
.invisible{
  color: : red;
}
.x{
  background-color: blue;
}
.o{
  background-color: red;
}
.board img{
  transform: rotate(-10deg);
  margin: auto;
  padding-top: 138px;
  padding-left: 682px;
  position: fixed;
}
